.admin {
  .container {
    display: flex;
    flex-direction: column;
    padding: 100px 0;
    gap: 30px;
    .flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .typeofcard {
        border: 1px solid #333;
        display: flex;
        align-items: center;

        button {
          padding: 10px;
          cursor: pointer;
          font-size: 20px;
        }
      }
    }
    .categories {
      background-color: rgb(0, 102, 255);
      align-self: flex-start;
      padding: 10px;
      font-size: 20px;
      border: 1px solid rgb(94, 94, 94);
      border-radius: 20px;
      color: #fff;
      font-weight: 700;
    }
    .Loader {
      font-size: 30px;
      font-weight: 600;
      color: blue;
    }
    .Header {
      display: flex;
      justify-content: space-between;
      button {
        padding: 15px;
        background-color: blue;
        color: white;
        font-weight: 600;
        border-radius: 10px;
        transition: all 0.3s;
        cursor: pointer;
        &:hover {
          background-color: rgba(0, 0, 255, 0.702);
        }
      }
    }
  }
}
